// width
$max-width: 1028px;


// spacing
$min-space: 4px;
$space: 8px;


// color
$primary: #FFD370;
$primary_600: #f7a22c;

$accent: #D87355;

$gray_300: #EFEFEF;
$gray_600: #9F9A91;
$gray_900: #333333;

$white: #ffffff;
$black: #000000;


// font family
$mainFont: 'Noto Sans TC', sans-serif;
$logoFont: 'Baloo Thambi 2', cursive;


// font size
$h1: 2rem; // 32px
$h2: 1.5rem; // 24px
$h3: 1.25rem; // 20px
$body1: 1rem; // 16px
$body2: 0.875rem; // 14px