html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

.no-gutter .col-12, .no-gutter .col-11, .no-gutter .col-10, .no-gutter .col-9, .no-gutter .col-8, .no-gutter .col-7, .no-gutter .col-6, .no-gutter .col-5, .no-gutter .col-4, .no-gutter .col-3, .no-gutter .col-2, .no-gutter .col-1 {
  padding-right: 0;
  padding-left: 0;
}

.col-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%;
}
@media (max-width: 540px) {
  .col-1 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%;
}
@media (max-width: 540px) {
  .col-2 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 540px) {
  .col-3 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%;
}
@media (max-width: 540px) {
  .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%;
}
@media (max-width: 540px) {
  .col-5 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 540px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%;
}
@media (max-width: 540px) {
  .col-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-8 {
  max-width: 66.6666666667%;
  flex: 0 0 66.6666666667%;
}
@media (max-width: 540px) {
  .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
@media (max-width: 540px) {
  .col-9 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%;
}
@media (max-width: 540px) {
  .col-10 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%;
}
@media (max-width: 540px) {
  .col-11 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}
@media (max-width: 540px) {
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1330px) {
  .col-pc-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 1330px) {
  .col-pc-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 1330px) {
  .col-pc-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 1330px) {
  .col-pc-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 1330px) {
  .col-pc-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 1330px) {
  .col-pc-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 850px) {
  .col-pad-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 850px) {
  .col-pad-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 850px) {
  .col-pad-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 850px) {
  .col-pad-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 850px) {
  .col-pad-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 850px) {
  .col-pad-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 540px) {
  .col-mob-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 540px) {
  .col-mob-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 540px) {
  .col-mob-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

@media (max-width: 540px) {
  .col-mob-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%;
  }
}

@media (max-width: 540px) {
  .col-mob-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%;
  }
}

@media (max-width: 540px) {
  .col-mob-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #333333;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  transition: all ease 0.3s;
}

.container {
  max-width: 1028px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
}
@media (max-width: 1330px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 680px;
  }
}/*# sourceMappingURL=all.css.map */